{% extends 'layout.html' %}
{% block title %}Inicio{% endblock%}

{% block body %}

<h2>Hola: {{usuario_nombre}}</h2>
<div id="postear" class="container">
    <h2>Postear</h2>
    <form action="/crear_post" method="post">
        <div> <input type="text" name="usuario_id" id="usuario" placeholder="" value="{{usuario_id}}" style="display:
            none;"></div>
        <div class="form-floating mb-3">
            <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Título">
            <label for="titulo">Titulo</label>
        </div>

        <div class="form-floating">
            <textarea class="form-control" name="contenido" placeholder="Escriba su contenido" id="contenido"
                style="height: 100px"></textarea>
            <label for="contenido">Contenido</label>
        </div>

        <div class="form-floating">
            <select class="form-select" name="categoria" id="categoria" aria-label="Categoria">
                <option selected>Elija su categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.categoria}}</option>
                {% endfor %}
            </select>
            <label for="categoria">Elija su categoria</label>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<div id='posteados' class="container">
    {% for post in posts %}
        <div id='post' class="container">
            <h3> {{post.get_nombre()}}</h3>
            <h4> {{post.fecha_creacion}}</h4>
            <h4> {{post.get_categoria()}}</h4>
            <h3> {{post.titulo}}</h3>
            <h4> {{post.contenido}}</h4>
        </div>
    {% endfor %}
</div>
  
{% endblock %}