{% extends 'layout.html' %}
{% block title %}Inicio{% endblock%}

{% block body %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5 bg-light border border-primary rounded">
        <h5 class="text-center m-4">Registrarse</h5>
        <form action="/registrarse" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="clave" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="clave" id="clave" required>
            </div>
            <button class="btn btn-primary m-4" type="submit">Registrar</button>
        </form>
    </div>
</div>

{% endblock %}